@page
@model QuestBoard.Pages.Dungeons.ForestModel
@{
    //I want the dungeons to have a completely different feel from the rest of the website, so they will use their own layout
    Layout = null;
}

<style>
    *, html {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background-color: #080c14;
    }

    .dgn_container {
        display: flex;
    }

    .center {
        margin: auto;
    }

    img {
        height: 400px;
    }

    span {
        font-size: 75px;
        color: #7E7E82;
        display: block;
    }
</style>

<div class="dgn_container">
    <div class="center">
        <img src="~/images/dungeons/spooky_forest_dungeon.png" />
        <span>The Forest</span>
    </div>
</div>