@page
@model QuestBoard.Pages.Dungeons.ForestModel
@{
    Layout = null;
}

@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var bossSprite = document.querySelector(".boss-sprite");
            bossSprite.style.animationPlayState = "running";
        });
    </script>
}

<style>
    *, html {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background-color: #080c14;
    }

    .dgn_container {
        display: flex;
    }

    .center {
        margin: auto;
    }

    img {
        height: 400px;
    }

    span {
        font-size: 75px;
        color: #7E7E82;
        display: block;
    }
</style>

<div class="boss-sprite"></div>

<div class="dgn_container">
    <div class="center">
        <img src="~/images/dungeons/spooky_forest_dungeon.png" />
        <span>The Forest</span>
    </div>
</div>