@page
@model QuestBoard.Pages.InventoryModel
@{
}

<style>
    #bag {
        height: 150px;
    }

    .item-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 20px;
        background-color: #634739;
    }

    .item-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        background-color: tan;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .item-details {
        margin-top: 15px;
    }

        .item-details h3 {
            margin-top: 0;
            font-size: 16px;
            color: #333;
        }

    .item-image {
        width: 80px;
        height: 80px;
    }

        .item-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

    .item-action {
        margin-top: 15px;
    }

    .item-card a {
        text-decoration: none;
    }
</style>

<h1>My Inventory</h1>
<img id="bag" src="~/images/test-icons/bag.png" />


<div class="item-container">
    @foreach (var item in Model.listUsersItems)
    {
        <div class="item-card">
            <a href="/ViewItem/Show?item=@item.name">
                <div class="item-image">
                    <img class="img-fluid" src="~/images/@item.image" alt="alt" />
                </div>
            </a>
            <div class="item-details">
                <h3>@item.name</h3>
                <p>x @item.quantity</p>
            </div>
        </div>
    }
</div>