@page
@model QuestBoard.Pages.InventoryModel
@{
}

<style>
    .item-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .item-details {
        flex: 1;
        padding-left: 10px;
    }

        .item-details h3 {
            margin-top: 0;
        }

    .item-image {
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }

    .item-action {
        margin-left: auto;
    }

    .item-row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

        .item-row .item-container {
            flex: 1;
            display: flex;
            align-items: center;
        }

        .item-row .item-details {
            flex: 1;
            padding-left: 10px;
        }

        .item-row .item-image {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
</style>

@{
    var itemsPerRow = 3;
    var itemCount = Model.listUsersItems.Count;
    var rowCount = (int)Math.Ceiling((double)itemCount / itemsPerRow);
}

@for (int i = 0; i < rowCount; i++)
{
    <div class="item-row">
        @for (int j = 0; j < itemsPerRow; j++)
        {
            var index = (i * itemsPerRow) + j;
            if (index >= itemCount)
            {
                break;
            }

            var item = Model.listUsersItems[index];
            <div class="item-container">
                <div class="item-image">
                    <img class="img-fluid" src="~/images/@item.image" alt="alt" />
                </div>
                <div class="item-details">
                    <h3>@item.name</h3>
                    <p>Quantity: @item.quantity</p>
                    <p>Rarity: @item.rarity</p>
                </div>
                <div class="item-action">
                    <a class="btn btn-warning btn-sm" href="/ViewItem/Show?item=@item.name">View</a>
                </div>
            </div>
        }
    </div>
}