@page
@model QuestBoard.Pages.Users.LoadingModel
@{

}

@section scripts{
    <script>
        setTimeout(function () {
            window.location.href = "/Home";
        }, 5000); // wait for 5 seconds before loading welcome page
    </script>

    <script>
        var $loadingDots = $("#loading-dots");
        var dots = ".";
        setInterval(function () {
            $loadingDots.text("Loading QuestBoard" + dots);
            dots += ".";
            if (dots.length > 3) {
                dots = ".";
            }
        }, 500);
    </script>

}

@*Font Awesome loading animation spin*@
<div class="center">
    <div id="loading">
        <i class="fas fa-ring fa-spin" style="font-size:50px;color:darkgoldenrod"></i>
    </div>

    <br />

    <div id="loading-dots" style="font-size:35px">
        Loading QuestBoard...
    </div>
</div>