@page
@model QuestBoard.Pages.Users.QuestsModel
@{
}

<form method="post">
    <div class="form-group">
        <label for="todoTitle">Quest Title</label>
        <input type="text" class="form-control" id="todoTitle" name="todoTitle">
    </div>
    <div class="form-group">
        <label for="todoDescription">Quest Description</label>
        <input type="text" class="form-control" id="todoDescription" name="todoDescription">
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

@*Display personal quest cards if they exist*@
<div style="margin-top:25px">
    <div class="card-group">
        <div class="row">
            @foreach (var todo in Model.listUserQuests)
            {
                <div class="w3-card-4">

                    <header class="w3-container w3-light-grey">
                        <h3>Personal Quest!</h3>
                    </header>
                    <div class="w3-container">
                        <p>@todo.title</p>
                        <hr>
                        <img src="" alt="avatar" class="w3-left w3-circle">
                        <p>@todo.description</p>
                    </div>

                    <button class="w3-button w3-block w3-dark-grey">Button</button>

                </div>
            }
        </div>
    </div>

    @*New Quests from Questgivers*@
    <div style="display:flex">
        <div class="w3-card-4 w3-dark-grey">
            <div class="w3-container w3-center">
                <h3>New Quest Available!</h3>
                <img src="~/images/avatar02.png" alt="Avatar" style="width:80%">
                <h5>trash_gerblin</h5>

                <button class="w3-button w3-green">Accept</button>
                <button class="w3-button w3-blue">Read</button>
                <button class="w3-button w3-red">Decline</button>
            </div>
        </div>
        <div class="w3-card-4 w3-dark-grey">
            <div class="w3-container w3-center">
                <h3>New Quest Available!</h3>
                <img src="~/images/avatar05.png" alt="Avatar" style="width:80%">
                <h5>TestUser69</h5>

                <button class="w3-button w3-green">Accept</button>
                <button class="w3-button w3-blue">Read</button>
                <button class="w3-button w3-red">Decline</button>
            </div>
        </div>
    </div>
</div>