@page
@model QuestBoard.Pages.Users.SettingsModel
@{
}

<h1>Settings</h1>
<br />
<form method="post">
    <label for="avatar">Change your avatar:</label>
    <select id="avatar" name="avatar">
        <option value="av_bear.png">bear</option>
        <option value="av_frog.png">frog</option>
        <option value="av_mimic.png">mimic</option>
        <option value="av_troll.png">troll</option>
        <option value="av_raven.png">raven</option>
    </select>
    <br />
    <br />
    <div>
        <button type="submit" class="btn btn-sm btn-success">Save</button>
    </div>
</form>