@page
@model QuestBoard.Pages.Users.SettingsModel
@{
}

<h1>Settings</h1>
<br />
<form method="post">
    <label for="avatar">Change your avatar:</label>
    <select id="avatar" name="avatar">
        <option value="/images/avatar01.png">bear</option>
        <option value="/images/avatar02.png">frog</option>
        <option value="/images/avatar03.png">mimic</option>
        <option value="/images/avatar04.png">skull</option>
        <option value="/images/avatar05.png">raven</option>
    </select>
    <br />
    <br />
    <div>
        <button type="submit" class="btn btn-sm btn-success">Save</button>
    </div>
</form>