@page "{user?}"
@model QuestBoard.Pages.Users.UserPageModel
@{
}

<h1>User Page</h1>

<div>
    <button id="toggle-list" onclick="toggleList()">Toggle Friends List</button>
    <ul id="friends-list" style="display:none;">
        <li>Friend 1</li>
        <li>Friend 2</li>
        <li>Friend 3</li>
    </ul>
</div>