@page
@model QuestBoard.Pages.Users.WelcomeModel
@{
}

@*There was a bug where the content on the page would load with _Layout content class before adjusting to javascript removal
Page will now not load until javascript removes content class from _Layout*@

<style>
    .hide-page {
        display: none;
    }
</style>

@section scripts{
    <script>
        $(document).ready(function () {
            if (window.location.pathname === '/Users/Welcome') {
                $('.content').removeClass('content');
            }
            $('.hide-page').show();
        });
    </script>
}

<div class="hide-page">
    <h1 style="text-align:left">Welcome, adventurer!</h1>
</div>