/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/*Global*/
* {
    font-family: MedievalSharp;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: MedievalSharp;
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(https://i.ibb.co/Px1Yjxn/vintage-grungy-textured-paper-background.jpg);
}



/*Media Queries*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/*Classes*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*ID tags*/

#site_icon {
    max-height: 35px;
    margin-right: 15px;
    margin-left: -5px;
}


/*Boss animation*/
@keyframes boss-breathing {
    /*0% {
        background-image: url('../images/test-icons/werewolf1.png');
    }*/

    0% {
        background-image: url('../images/test-icons/werewolf2.png');
    }

    100% {
        background-image: url('../images/test-icons/werewolf3.png');
    }
}

.boss-sprite {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    animation: boss-breathing 3s infinite;
}