/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/*Global*/
* {
    font-family: MedievalSharp;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: MedievalSharp;
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(https://i.ibb.co/Px1Yjxn/vintage-grungy-textured-paper-background.jpg);
}



/*Media Queries*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/*Classes*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.shadowed-border {
    border: 2px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 25px;
    border-radius: 5px;
    background-color: #1C1C1C;
    color: navajowhite;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
}

/*ID tags*/

#site_icon {
    max-height: 35px;
    margin-right: 15px;
    margin-left: -5px;
}

#home_screen_icon {
    height: 300px;
}

#quest-post {
    border-radius: 15px;
    background-color: #3d4447;
    color: antiquewhite;
    padding: 15px;
}

#navbar {
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;*/
}