@page
@model QuestBoard.Pages.DungeonGatesModel
@{
}

<div>
    <h1>Dungeon Gates</h1>

    <img style="max-height: 500px" src="/images/dungeon_gates.jpeg" />

    <a class="btn btn-danger" asp-page="/Dungeons/Forest">Go to The Forest</a>
    <a class="btn btn-danger" asp-page="/Dungeons/Test-Dungeon">Go to The Test Dungeon</a>
</div>